<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Productos - GymFit</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="bg">
<div class="container">
  <a href="/">← Volver al inicio</a>
  <h1 class="title">Nuestros Productos</h1>

  <div class="cards">
    <div th:each="p : ${products}" class="card">
      <img th:src="${ p.name.toLowerCase().contains('agua') ? 'https://casarica.cdn1.dattamax.com/userfiles/images/productos/448/7751655000633.jpg' :
                    p.name.toLowerCase().contains('vitamina') ? 'https://www.redoxon.com.ar/sites/g/files/vrxlpx49611/files/2021-03/Ima%CC%81genes---Tubos-Redoxon-1gr_0.png' :
                    p.name.toLowerCase().contains('barra') ? 'https://farmaciasdelpueblo.vtexassets.com/arquivos/ids/169958/44757_Protein-Bar-Barra-de-Frutilla-x-1-unid_img2.png?v=637462446528500000' :
                    p.name.toLowerCase().contains('prote') || p.name.toLowerCase().contains('whey') ? 'https://www.uomax.com.ar/13481-large_default/whey-protein-ena-true-made-vainilla-ice-cream-x-930-gr.jpg' :
                    p.name.toLowerCase().contains('creatina') ? 'https://cloudinary.images-iherb.com/image/upload/f_auto,q_auto:eco/images/nrx/nrx02992/y/8.jpg' :
                    p.name.toLowerCase().contains('preworkout') || p.name.toLowerCase().contains('pre-entreno') ? 'https://i.imgur.com/9kR8vX2.jpg' :
                    p.name.toLowerCase().contains('bcaa') ? 'https://www.enasport.com/cdn/shop/products/BCAA_211.jpg?v=1683514389&width=2048' :
                    p.name.toLowerCase().contains('glutamina') ? 'https://i.imgur.com/glutamina.jpg' :
                    p.name.toLowerCase().contains('omega') ? 'https://i.imgur.com/omega3.jpg' :
                    'https://i.imgur.com/default-suplemento.jpg' }" class="card-img-top" alt="producto">

      <h3 th:text="${p.name}"></h3>
      <p th:text="${p.description}"></p>
      <a th:href="@{'/products/' + ${p.id}}" class="btn">Ver Detalle</a>
    </div>
  </div>
</div>
</body>
</html>